.slider{
    height:20vh;
    width: auto;
    margin: 0;
    overflow: hidden;
     overflow-x: scroll; 
     /* overflow-y: scroll;  */
    animation: slide 20s infinite alternate ;
}


.slider ul{
    display: flex;
    padding: 0;
    width: 50%;

}

.slider li{
    list-style: none;
    width: 20vw;
    height: 15vw;
}

.slider img{
    width: 20vw;
    height: 15vw; 
   
}

@keyframes slide{
    0% {margin-left: 0%;}
    8% {margin-left: 0%;}
    9% {margin-left:-5%;}
    17% {margin-left: -5%;}
    18% {margin-left: -10%;}
    26% {margin-left: -10%;}
    27% {margin-left: -20%;}
    35% {margin-left: -20%;}
    36% {margin-left: -30%;}
    44% {margin-left:-30%;}
    45% {margin-left:-40%;}
    53% {margin-left: -40%;}
    54% {margin-left: -50%;}
    62% {margin-left: -50%;}
    63% {margin-left: -60%;}
    71% {margin-left: -60%;}
    72% {margin-left: -70%;}
    80% {margin-left: -70%;}
    81% {margin-left:-80%;}
    88% {margin-left: -80%;}
    89% {margin-left:-90%;}
    100% {margin-left: -90%;}
    
}